//示例样式
//用于sprite的
.icon_list{
    width:100%;
    text-align:center;
    padding:20px 0;
}
.sprite{
    margin:0 50px;
    .ib(middle);
}
.test_tips{
    line-height:100px;
}
.test{
    width:100%;
    font-size:36px;
    text-align:center;
}
.test_list{
    width:980px;
    text-align:left;
    line-height:56px;
    padding:30px;
    .auto();
    background-color:rgba(0,0,0,0.3);
}
.use_title{
    &:nth-child(6){
        margin-top:30px;
    }
}